{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Create a New Challenge</h2>
    <p>Share your culinary challenge with the community. Whether it's a traditional dish from your country or a creative cooking task, let's make cooking fun and engaging for everyone.</p>
    <form method="POST" action="{{ url_for('main.create_challenge') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
      
        <div class="form-group">
            <label for="title">Challenge Title</label>
            {{ form.title(class_="form-control", id="title") }}
            {% if form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.title.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
      

        <div class="form-group">
            <label for="recipe_type">Recipe Type</label>
            {{ form.recipe_type(class="form-control", id="recipe_type") }}
            {% if form.recipe_type.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.recipe_type.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>


        <div class="form-group">
            <label for="description">Description</label>
            {{ form.description(class_="form-control", id="description") }}
            {% if form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.description.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label for="is_recipe">Is Your Post a Recipe?</label>
            {{ form.is_recipe(id='is_recipe', onchange='toggleTextArea()') }}
        </div>
      
        <div class="form-group" id="recipeInstructionsGroup" style="display: none;">
            <label for="ingredients">Ingredients</label>
            <textarea class="form-control" name="ingredients" id="ingredients"></textarea>
            {% if form.ingredients.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.ingredients.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <label for="recipe_instructions">Recipe Instructions</label>
            <textarea class="form-control" name="recipe_instructions" id="recipe_instructions"></textarea>
            {% if form.recipe_instructions.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.recipe_instructions.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
      
        <div class="form-group">
            <label for="cuisine_type">Cuisine Type</label>
            {{ form.cuisine_type(class_="form-control", id="cuisine_type") }}
            {% if form.cuisine_type.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.cuisine_type.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="cuisine_style">Cuisine Style</label>
            {{ form.cuisine_style(class_="form-control", id="cuisine_style") }}
            {% if form.cuisine_style.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.cuisine_style.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
      
        <div class="form-group">
            <label for="difficulty_level">Difficulty Level</label>
            <div class="rateyo" id="rateYo" data-rateyo-rating="0"></div>
            <input type="hidden" name="difficulty_level" id="difficulty_level">
        </div>
      
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit Challenge</button>
        </div>

        
      
    </form>
</div>

<script>
    function toggleTextArea() {
        var checkbox = document.getElementById('is_recipe');
        var textareaGroup = document.getElementById('recipeInstructionsGroup');
        if (checkbox.checked) {
            textareaGroup.style.display = 'block';
        } else {
            textareaGroup.style.display = 'none';
        }
    }
    
    // Call the toggle function initially to set the textarea visibility based on the initial checkbox state
    toggleTextArea();
</script>
{% endblock %}
