{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-3">Register</h2>
        <form method="POST" action="{{ url_for('auth.register') }}">
            {{ form.hidden_tag() }}
          
            <div class="form-group">
                <label for="username">Username</label>
                {{ form.username(class_="form-control", id="username") }}
                {% if form.username.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.username.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
          
            <div class="form-group">
                <label for="email">Email</label>
                {{ form.email(class_="form-control", id="email") }}
                {% if form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
          
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password(class_="form-control", id="password") }}
                {% if form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.password.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            
            <div class="form-group">
                <label for="confirm">Confirm Password</label>
                {{ form.confirm(class_="form-control", id="confirm") }}
                {% if form.confirm.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.confirm.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            
            <div class="form-group">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                <div class="alert-title">Account Created</div>
                                <div class="alert-message">{{ message }}</div>
                            </div>
                            <script type="text/javascript">
                                setTimeout(function(){
                                    window.location.href = "{{ url_for('auth.login') }}"
                                }, 3000);
                            </script>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
          
        </form>
    </div>
</div>
{% endblock %}
